parameters:
	ignoreErrors:
		- '#Call to static method toArray\(\) on an unknown class Yii\\helpers\\ArrayHelper.#'
		- '#^Call to static method className\(\) on an unknown class [a-zA-Z \\ \.]+$#'
	autoload_directories:
		- %currentWorkingDirectory%/cms/
	autoload_files:
		- %currentWorkingDirectory%/vendor/autoload.php